* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 250px;
}

.greenCircle {
  height: 80px;
  width: 80px;
  background-color: green;
  border-radius: 50px;
}

.redCircle {
  height: 80px;
  width: 80px;
  background-color: red;
  border-radius: 50px;
}

.blueCircle {
  height: 80px;
  width: 80px;
  background-color: blue;
  border-radius: 50px;
}

.purpleCircle {
  height: 80px;
  width: 80px;
  background-color: purple;
  border-radius: 50px;
}

.blackCircle {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50px;
}

.whiteCircle {
  height: 80px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
}
